<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Folder</title>
</head>

<body>
  <form action="/add-folder" method="post">
    <label>
      Name:
      <input type="text" name="folderName">
    </label>
    <button type="submit">Add New Folder</button>
  </form>
  <a href="/user">Go Back</a>
</body>

</html>