<form action="/edit-folder/<%= id %>" method="post">
  <label>
    New Name:
    <input type="text" name="folderName">
  </label>
  <button type="submit">Edit Folder</button>
</form>
<a href="/user">Go Back</a>